<div class="container">
        <div><strong>LIVE</strong></div>
        <div>Explorar</div>
        <div>Siguiendo <span class="red-dot">•</span></div>
        <div>Para ti</div>
        <div><input class="search" placeholder="search"></div>
    </div>
    <div class="content">
            <img src="/assets/images/el fondo.jpg">
        </div>

    <div class="footer">
        <div>
            <app-home>
                <button>
            <img src="assets/images/home.png" alt="Inicio" class="icon">
            <p>Inicio</p>
        </button>
        </app-home>
        </div>
        <div>
            <app-add>
                <button> 
            <img src="assets/images/addfriend.png" alt="Amigos" class="icon">
            <p>Amigos</p>
        </button>
        </app-add>
        </div>
        <div>
            <app-create>
                <button>
            <img src="assets/images/create.png" alt="Añadir" class="icon">
            <p>Añadir</p>
        </button>
        </app-create>
        </div>
        <div>
            <app-tray>
            <button>
            <img src="assets/images/tray.png" alt="Bandeja" class="icon">
            <p>Bandeja</p>
        </button>
        </app-tray>
        </div>
        <div>
            <app-profile>
            <button>
            <img src="assets/images/profile.png" alt="Perfil" class="icon">
            <p>Perfil</p>
            </button>
        </app-profile>
        </div>
    </div>
